body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            color: #2F4F4F;
        }
        .navbar {
            background-color: #FFFFFF ;
        }
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
            color: #FFFFFF !important;
        }
        .nav-link {
            color: #FFFFFF !important;
            transition: color 0.3s;
        }
        .nav-link:hover {
            color: #FF6347 !important;
        }
        .section-title {
            color: #20B2AA;
            font-weight: bold;
        }
        .farm-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
        }
        footer {
            background-color: #2F4F4F;
            color: #FFFFFF;
            font-size: 0.9rem;
        }